%section.user_address
  %h2
    発送元お届け先情報登録
    = form_for(@user_address, url: "", html: { class: "user_address__form" }) do  |f|
      .user_address__form__container
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :family_name
          = f.text_field :first_name
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :family_name_kana
          = f.text_field :family_name_kana
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_yubin_bango
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_todofuken
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_shichoson
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_banchi
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_building
        .form_group
          %label.form_group__label
          %span.form_group__require
          = f.text_field :user_tel_no
        = f.submit

