.breadCrumbs
  %ul.breadCrumbs_list
    %li= link_to "FURIMA", "#", class: "breadCrumbs_list_item"
    %li
      <i class="fa fa-angle-right"></i>
    %li= link_to "メンズ", "#", class: "breadCrumbs_list_item"
    %li
      <i class="fa fa-angle-right"></i>
    %li= link_to "ジャケット/アウター", "#", class: "breadCrumbs_list_item"
    %li
      <i class="fa fa-angle-right"></i>
    %li= link_to "ノーカラージャケット", "#", class: "breadCrumbs_list_item"
    %li
      <i class="fa fa-angle-right"></i>
    %li= link_to "product2", "#", class: "breadCrumbs_list_item"