
.tradings_new-main
  .tradings_new-main__inside
    %section.trading_section
      %h2.trading_header 購入内容の確認
    %section.trading_section
      .item_box
        .item_box__photo
          .item_photo_figure
            = image_tag src = Image.find_by(item_id: @item).item_image ,class: "item_photo_figure_image"
        .item_box__info
          %p.item_box__item_name
            = @item.item_name
          %p.item_box__info__price
            %span.item_box__info__price-zei 
              送料込み (税込)
            %span.item_box__info__price-price
              ¥
              = @item.price
    %section.trading_section
      .amount_box
        .amount_box_info
          %span 支払い金額
          %span.amount_info_price
            ¥
            = @item.price
        -# .amount_box_point_option
        -#   %label.point_option_label
        -#     .point_check
        -#       %span.point_check_span
        -#         -# %span
        -#         -#   %svg
        -#       -# = image_tag ""
        -#       %p ポイントの使用
        -#     %p.user_point 所持ポイント: P0
    - if UserCard.exists?(user_id: current_user)
      %section.trading_section
        .card_info
          .card_info-top
            %h3.card_info-top-left 支払い方法
            =link_to "",class: "card_info-top-right" do
              変更する
          .card_info-main
            %p 
              クレジットカード
            %p
              ************1111
            %p
              有効期限 01 / 01
            =image_tag "jcb_card.svg" ,class: "card_image"
    - else
      %section.trading_section
        .card_info
          .card_info-top
            %h3.card_info-top-left.needed 支払い方法がまだ登録されていません
            =link_to "" ,class: "card_info-top-right" do
              登録する
    - if DeliverAddress.exists?(user_id: current_user)
      %section.trading_section
        .deliver_info
          .deliver_info-top
            %h3.deliver_info-top-left 配送先
            =link_to edit_item_item_deliver_address_path(@item, DeliverAddress.find_by(user_id: current_user)) ,class: 'deliver_info-top-right' do
              変更する
          .deliver_info-address
            %p 
              〒
              = @deliver_address.deliver_yubin_bango
            %p
              = @deliver_address.deliver_todofuken
              = @deliver_address.deliver_shichoson
              = @deliver_address.deliver_banchi
              = @deliver_address.deliver_building
            %p
              = @deliver_address.deliver_family_name
              = @deliver_address.deliver_first_name
    - else
      %section.trading_section
        .deliver_info
          .deliver_info-top
            %h3.deliver_info-top-left.needed 配送先がまだ登録されていません
            =link_to new_item_item_deliver_address_path(@item) ,class: 'deliver_info-top-right' do
              登録する
    %section.trading_section
      .trading_btn_area
        - if DeliverAddress.exists?(user_id: current_user) && UserCard.exists?(user_id: current_user)
          = button_to "購入する", {controller: 'tradings', action: 'create'}, {method: :post,class: "trading_btn", params: {trading: {user_id: @item.user_id, trading_family_name: @deliver_address.deliver_family_name, trading_first_name: @deliver_address.deliver_first_name, trading_family_name_kana: @deliver_address.deliver_family_name_kana, trading_first_name_kana: @deliver_address.deliver_first_name_kana, trading_yubin_bango: @deliver_address.deliver_yubin_bango, trading_todofuken: @deliver_address.deliver_todofuken, trading_shichoson: @deliver_address.deliver_shichoson, trading_banchi: @deliver_address.deliver_banchi, trading_building: @deliver_address.deliver_building, trading_tel_no: @deliver_address.deliver_tel_no, trading_card_id: @user_card.card_id, trading_customer_id: current_user}}} 
        - else
          = button_to "購入する", "",class: "trading_btn-disabled"

