.pcHeader
  .header-Inner
    .main-Header
      = link_to image_tag(src= "/assets/logo.png", class: "icon")
      .searchBox
        .form
          <input class="form__input" placeholder="キーワードから探す">
          = link_to image_tag(src= "/assets/icon-search 1.png", class: "form__submit")
    .nav
      .listsLeft
        .listsLeft__first
          = link_to "#", class: "catBtn" do
            カテゴリー
          .display
            .category
              .ul
                .li
                  = link_to "#" do
                    レディース
                  = link_to "#" do
                    メンズ
                  = link_to "#" do
                    ベビー・キッズ
                  = link_to "#" do
                    インテリア・住まい・小物
                  = link_to "#" do
                    本・音楽・ゲーム
                  = link_to "#" do
                    おもちゃ・ホビー・グッズ
                  = link_to "#" do
                    コスメ・香水・美容
                  = link_to "#" do
                    家電・スマホ・カメラ
                  = link_to "#" do
                    スポーツ・レジャー
                  = link_to "#" do
                    ハンドメイド
                  = link_to "#" do
                    チケット
                  = link_to "#" do
                    自動車・オートバイ
                  = link_to "#" do
                    その他
        .listsLeft__item
          <a class="brandBtn" href="#">ブランド</a>
          .display
            .category
              .ul
                .li
                  = link_to "#" do
                    1
                  = link_to "#" do
                    2
                  = link_to "#" do
                    3
                  = link_to "#" do
                    4
                  = link_to "#" do
                    5
                  = link_to "#" do
                    6
                  = link_to "#" do
                    7
                  = link_to "#" do
                    8
                  = link_to "#" do
                    9
                  = link_to "#" do
                    10
      .listsRight
        .listsRight__login
          = link_to "#", class: "login" do
            ログイン
        .listsRight__new
          = link_to "#", class: "new" do
            新規会員登録