.session-new
  %main.session-new-main
    .login-panel
      .login-panel-no-account
        %p.login-panel-no-account__info
          アカウントをお持ちでない方はこちら
        = link_to '新規会員登録',users_signup_index_path, class: 'login-panel-no-account__make-account'
      .login-panel-by-sns
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
          %button.google-login
            %i.fab.fa-google.fa-2x
            Googleでログイン
        = link_to user_facebook_omniauth_authorize_path, method: :post do
          %button.face-book-login
            %i.fab.fa-facebook-square.fa-2x
            Facebookでログイン
      .login-panel-by-email
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .email-field
            .field-label
            .field-input
              = f.email_field :email, autofocus: true, class: 'email-field-form'
          .password-field
            .field-label
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off", class: 'password-field-form'
          .robocheck-field
          .actions
            = f.submit "ログイン", class: 'login-btn'
          = link_to 'パスワードを忘れた方', '#', class: 'to-password-reminder'