.breadCrumbs
  %ul
    %li
      = link_to "#", class: "a" do
        FURIMA
    %li
      <i class="fa fa-angle-right"></i>
    %li
      = link_to "#", class: "a" do
        メンズ
    %li
      <i class="fa fa-angle-right"></i>
    %li
      = link_to "#", class: "a" do
        ジャケット/アウター
    %li
      <i class="fa fa-angle-right"></i>
    %li
      = link_to "#", class: "a" do
        ノーカラージャケット
    %li
      <i class="fa fa-angle-right"></i>
    %li
      = link_to "#", class: "a" do
        product2
