.new-main
  =form_for @item do |f|
    .new-main_image
      .new-main_image_body
        .new-main_image_body_name
          .new-main_image_body_name_left
            出品画像
          .new-main_image_body_name_right
            必須
        .new-main_image_body_photo
          #image-box
            #previews
              -if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.item_image.url, data: { index: i }, width: "100", height: '100' 
          #image-select
            = f.fields_for :images do |image| 
              .js-file_group{data: {index: image.index}}
                = image.file_field :item_image, class: ['js-file','js-file-loaded']
                -if @item.persisted?
                  %span.js-remove.js-remove-loaded 削除
                - else
                  %span.js-remove 削除
              -if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy' 
            -if @item.persisted?
              .js-file_group{data: {index: @item.images.count}} 
                = file_field_tag :item_image, name: "product[images_attributes][#{@item.images.count}][item_image]", class: 'js-file'
                .js-remove 削除
    .new-main_product
      .new-main_product_top
        .new-main_product_top_body
          .new-main_product_top_body_name
            .new-main_product_top_body_name_left
              商品名
            .new-main_product_top_body_name_right
              必須
          .new-main_product_top_body_form
            .new-main_product_top_body_form_body
              = f.text_field :item_name, class: 'new-main_product_top_body_form_body_text', placeholder: '40文字まで'
      .new-main_product_bottom
        .new-main_product_bottom_body
          .new-main_product_bottom_body_top
            .new-main_product_bottom_body_top_left
              商品の説明
            .new-main_product_bottom_body_top_right
              必須
          = f.text_area :item_info, class: 'new-main_product_bottom_body_btm', placeholder: ''
    .new-main_product-details
      .new-main_product-details_title
        商品の詳細
      .new-main_product-details_category
        .new-main_product-details_category_body
          .new-main_product-details_category_body_top
            .new-main_product-details_category_body_top_left
              カテゴリー
            .new-main_product-details_category_body_top_right
              必須
          .new-main_product-details_category_body_bottom
            .new-main_product-details_category_body_bottom_box
              = select_tag "",options_for_select(@parents ,@parent.id), id: "dest" 
          -if @item.persisted?
            .new-main_product-details_category_body_bottom#children_wrapper
              .new-main_product-details_category_body_bottom_box
                = select_tag "", options_for_select(@children,@child.id),id: "child_category"
            .new-main_product-details_category_body_bottom#grandchildren_wrapper
              .new-main_product-details_category_body_bottom_box
                = select_tag :category_id,options_for_select( @grand_children ,@grand_child.id), id: "grandchild_category" , form: "edit_item_#{@item.id}" 
      .new-main_product-details_brand
        .new-main_product-details_brand_body
          .new-main_product-details_brand_body_top
            .new-main_product-details_brand_body_top_left
              ブランド
            .new-main_product-details_brand_body_top_right
              任意
          .new-main_product-details_brand_body_bottom
            .new-main_product-details_brand_body_bottom_box
              = f.text_field :brand_id, class: 'new-main_product-details_brand_body_bottom_box_form', placeholder: ''
      .new-main_product-details_condition
        .new-main_product-details_condition_body
          .new-main_product-details_condition_body_top
            .new-main_product-details_condition_body_top_left
              商品の状態
            .new-main_product-details_condition_body_top_right
              必須
          .new-main_product-details_condition_body_bottom
            .new-main_product-details_condition_body_bottom_box
              = f.select :condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], include_blank: "選択して下さい"
    .new-main_delivery
      .new-main_delivery_burden
        .new-main_delivery_burden_body
          .new-main_delivery_burden_body_top
            .new-main_delivery_burden_body_top_left
              配送料の負担
            .new-main_delivery_burden_body_top_right
              必須
          .new-main_delivery_burden_body_bottom
            .new-main_delivery_burden_body_bottom_box
              = f.select :postage_burden, [["送料込み（出品者が負担）", "送料込み（出品者が負担）"], ["着払い（購入者が負担）", "着払い（購入者が負担）"]], include_blank: "選択して下さい"
      .new-main_delivery_area
        .new-main_delivery_area_body
          .new-main_delivery_area_body_top
            .new-main_delivery_area_body_top_left
              発送元の地域
            .new-main_delivery_area_body_top_right
              必須
          .new-main_delivery_area_body_bottom
            .new-main_delivery_area_body_bottom_box
              = f.select :shipping_area, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]], include_blank: "選択して下さい"
      .new-main_delivery_days
        .new-main_delivery_days_body
          .new-main_delivery_days_body_top
            .new-main_delivery_days_body_top_left
              発送までの日数
            .new-main_delivery_days_body_top_right
              必須
          .new-main_delivery_days_body_bottom
            .new-main_delivery_days_body_bottom_box
              = f.select :days_to_ship, [["支払い後、1～2日で発送", "支払い後、1～2日で発送"], ["支払い後、2～3日で発送", "支払い後、2～3日で発送"], ["支払い後、4～7日で発送", "支払い後、4～7日で発送"]], include_blank: "選択して下さい"
    .new-main_selling-price
      .new-main_selling-price_box
        .new-main_selling-price_box_left
          販売価格
        .new-main_selling-price_box_right
          必須
      .new-main_selling-price_box_en
        ¥
        = f.text_field :price, class: 'new-main_selling-price_box_txit', placeholder: ''
    .new-main_btn
      .new-main_btn_box
        = f.submit "出品する", class: "new-main_btn_box_top"