.pcHeader
  .header-Inner
    .main-Header
      = link_to image_tag(src= "/assets/logo.png", class: "icon")
      .searchBox
        .form
          <input class="form__input" placeholder="キーワードから探す">
          = link_to image_tag(src= "/assets/icon-search 1.png", class: "form__submit")
    .nav
      .listsLeft
        .listsLeft__first
          = link_to 'カテゴリー', '#', class: 'catBtn'
          %ul.display
            %li.category
              .category_tree
                %ul.category_list
                  %li= link_to 'レディース', '#', class: 'category_list_item'
                  %li= link_to 'メンズ', '#', class: 'category_list_item'
                  %li= link_to 'ベビー・キッズ', '#', class: 'category_list_item'
                  %li= link_to '本・音楽・ゲーム', '#', class: 'category_list_item'
                  %li= link_to 'おもちゃ・ホビー・グッズ', '#', class: 'category_list_item'
                  %li= link_to 'コスメ・香水・美容', '#', class: 'category_list_item'
                  %li= link_to '家電・スマホ・カメラ', '#', class: 'category_list_item'
                  %li= link_to 'スポーツ・レジャー', '#', class: 'category_list_item'
                  %li= link_to 'ハンドメイド', '#', class: 'category_list_item'
                  %li= link_to 'チケット', '#', class: 'category_list_item'
                  %li= link_to '自動車・オートバイ', '#', class: 'category_list_item'
                  %li= link_to 'その他', '#', class: 'category_list_item'
        .listsLeft__item
          <a class="brandBtn" href="#">ブランド</a>
          .display
            .category
              .ul
                .li
                  = link_to "#" do
                    1
                  = link_to "#" do
                    2
                  = link_to "#" do
                    3
                  = link_to "#" do
                    4
                  = link_to "#" do
                    5
                  = link_to "#" do
                    6
                  = link_to "#" do
                    7
                  = link_to "#" do
                    8
                  = link_to "#" do
                    9
                  = link_to "#" do
                    10
      .listsRight
        .listsRight__login
          = link_to "#", class: "login" do
            ログイン
        .listsRight__new
          = link_to "#", class: "new" do
            新規会員登録