.new-main
  .new-main_image
  .new-main_product
    .new-main_product_top
      .new-main_product_top_body
        .new-main_product_top_body_name
          .new-main_product_top_body_name_left
            商品名
          .new-main_product_top_body_name_right
            必須
        .new-main_product_top_body_form
          .new-main_product_top_body_form_body
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_product_top_body_form_body_text', placeholder: '40文字まで'
    .new-main_product_bottom
      .new-main_product_bottom_body
        .new-main_product_bottom_body_top
          .new-main_product_bottom_body_top_left
            商品の説明
          .new-main_product_bottom_body_top_right
            必須
        = form_for "#" do |f|
          = f.text_area :content, class: 'new-main_product_bottom_body_btm', placeholder: ''
  .new-main_product-details
    .new-main_product-details_title
      商品の詳細
    .new-main_product-details_category
      .new-main_product-details_category_body
        .new-main_product-details_category_body_top
          .new-main_product-details_category_body_top_left
            カテゴリー
          .new-main_product-details_category_body_top_right
            必須
        .new-main_product-details_category_body_bottom
          .new-main_product-details_category_body_bottom_box
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_product-details_category_body_bottom_box_form', placeholder: ''
              .new-main_product-details_category_body_bottom_box_choice

    .new-main_product-details_brand
      .new-main_product-details_brand_body
        .new-main_product-details_brand_body_top
          .new-main_product-details_brand_body_top_left
            ブランド
          .new-main_product-details_brand_body_top_right
            任意
        .new-main_product-details_brand_body_bottom
          .new-main_product-details_brand_body_bottom_box
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_product-details_brand_body_bottom_box_form', placeholder: ''
    .new-main_product-details_condition
      .new-main_product-details_condition_body
        .new-main_product-details_condition_body_top
          .new-main_product-details_condition_body_top_left
            商品の状態
          .new-main_product-details_condition_body_top_right
            必須
        .new-main_product-details_condition_body_bottom
          .new-main_product-details_condition_body_bottom_box
            .new-main_product-details_condition_body_bottom_box_form
              = form_for "#" do |f|
                %select#status.form-control{"data-reactid" => ".0.4.9.0.1.0", :name => "item[status]"}
                  %option{"data-reactid" => ".0.4.9.0.1.0.0", :value => "5"} 新品、未使用
                  %option{"data-reactid" => ".0.4.9.0.1.0.1", :value => "4"} 未使用に近い
                  %option{"data-reactid" => ".0.4.9.0.1.0.2", :value => "6"} 目立った傷や汚れなし
                  %option{"data-reactid" => ".0.4.9.0.1.0.3", :value => "3"} やや傷や汚れあり
                  %option{"data-reactid" => ".0.4.9.0.1.0.4", :value => "2"} 傷や汚れあり
                  %option{"data-reactid" => ".0.4.9.0.1.0.5", :value => "1"} 全体的に状態が悪い


  .new-main_delivery
    .new-main_delivery_burden
      .new-main_delivery_burden_body
        .new-main_delivery_burden_body_top
          .new-main_delivery_burden_body_top_left
            配送料の負担
          .new-main_delivery_burden_body_top_right
            必須
        .new-main_delivery_burden_body_bottom
          .new-main_delivery_burden_body_bottom_box
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_delivery_burden_body_bottom_box_form', placeholder: ''

            .new-main_delivery_burden_body_bottom_box_choice
    .new-main_delivery_area
      .new-main_delivery_area_body
        .new-main_delivery_area_body_top
          .new-main_delivery_area_body_top_left
            発送元の地域
          .new-main_delivery_area_body_top_right
            必須
        .new-main_delivery_area_body_bottom
          .new-main_delivery_area_body_bottom_box
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_delivery_area_body_bottom_box_form', placeholder: ''
            .new-main_delivery_area_body_bottom_box_choice

    .new-main_delivery_days
      .new-main_delivery_days_body
        .new-main_delivery_days_body_top
          .new-main_delivery_days_body_top_left
            発送までの日数
          .new-main_delivery_days_body_top_right
            必須
        .new-main_delivery_days_body_bottom
          .new-main_delivery_days_body_bottom_box
            = form_for "#" do |f|
              = f.text_field :content, class: 'new-main_delivery_days_body_bottom_box_form', placeholder: ''
            .new-main_delivery_days_body_bottom_box_choice

  .new-main_selling-price
    .new-main_selling-price_box
      .new-main_selling-price_box_name
        .new-main_selling-price_box_name_left
          販売価格
        .new-main_selling-price_box_name_right
          必須
      .new-main_selling-price_box_name_en
        ¥
      = form_for "#" do |f|
        = f.text_field :content, class: 'new-main_selling-price_box_name_txit', placeholder: ''
  .new-main_btn
    .new-main_btn_top
      出品する
    .new-main_btn_bottom
      下書きに保存
  .new-main_note