.new-main
  =form_for @item do |f|
    .new-main_image
      .new-main_image_body
        .new-main_image_body_name
          .new-main_image_body_name_left
            出品画像
          .new-main_image_body_name_right
            必須
        .new-main_image_body_photo
          = f.fields_for :images do |i| 
            = i.file_field :src 
          %i.fas.fa-camera
    .new-main_product
      .new-main_product_top
        .new-main_product_top_body
          .new-main_product_top_body_name
            .new-main_product_top_body_name_left
              商品名
            .new-main_product_top_body_name_right
              必須
          .new-main_product_top_body_form
            .new-main_product_top_body_form_body
              = f.text_field :item_name, class: 'new-main_product_top_body_form_body_text', placeholder: '40文字まで'
      .new-main_product_bottom
        .new-main_product_bottom_body
          .new-main_product_bottom_body_top
            .new-main_product_bottom_body_top_left
              商品の説明
            .new-main_product_bottom_body_top_right
              必須
          = f.text_area :item_info, class: 'new-main_product_bottom_body_btm', placeholder: ''
    .new-main_product-details
      .new-main_product-details_title
        商品の詳細
      .new-main_product-details_category
        .new-main_product-details_category_body
          .new-main_product-details_category_body_top
            .new-main_product-details_category_body_top_left
              カテゴリー
            .new-main_product-details_category_body_top_right
              必須
          .new-main_product-details_category_body_bottom
            .new-main_product-details_category_body_bottom_box
              = f.select :category_id, [["tシャツ", "3"], ["ポロシャツ", "7"]], include_blank: "選択して下さい"
              -# %select#category_name.btn.btn-select{"data-reactid" => ".0.4.6.0.1.0", :name => "item[category]"}
              -#   %option 選択してください
              -#   - @parents.each do |parent|
              -#     %option=parent.category_name


                  -# %ul.new-main_product-details_category_body_bottom2
                  -#   %li.new-main_product-details_category_body_bottom_box2
                  -#     %select#category_name.btn.btn-select
                  -#       - parent.children.each do |child|
                  -#         = category_path(child) do
                  -#           %option=child.category_name
                  -# - parent.children.each do |child|
                  -#   .new-main_product-details_category_body_bottom_box2
                  -#     = category_path(child) do
                  -#       %option=child.category_name
                  -#       - child.children.each do |grandchild|
                  -#         .new-main
                  -#           =link_to category_path(grandchild) do
                  -#             %option=grandchild.category_name
      .new-main_product-details_brand
        .new-main_product-details_brand_body
          .new-main_product-details_brand_body_top
            .new-main_product-details_brand_body_top_left
              ブランド
            .new-main_product-details_brand_body_top_right
              任意
          .new-main_product-details_brand_body_bottom
            .new-main_product-details_brand_body_bottom_box
              = f.text_field :brand_id, class: 'new-main_product-details_brand_body_bottom_box_form', placeholder: ''
      .new-main_product-details_condition
        .new-main_product-details_condition_body
          .new-main_product-details_condition_body_top
            .new-main_product-details_condition_body_top_left
              商品の状態
            .new-main_product-details_condition_body_top_right
              必須
          .new-main_product-details_condition_body_bottom
            .new-main_product-details_condition_body_bottom_box
              = f.select :condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], include_blank: "選択して下さい"
    .new-main_delivery
      .new-main_delivery_burden
        .new-main_delivery_burden_body
          .new-main_delivery_burden_body_top
            .new-main_delivery_burden_body_top_left
              配送料の負担
            .new-main_delivery_burden_body_top_right
              必須
          .new-main_delivery_burden_body_bottom
            .new-main_delivery_burden_body_bottom_box
              = f.select :postage_burden, [["送料込み（出品者が負担）", "送料込み（出品者が負担）"], ["着払い（購入者が負担）", "着払い（購入者が負担）"]], include_blank: "選択して下さい"
      .new-main_delivery_area
        .new-main_delivery_area_body
          .new-main_delivery_area_body_top
            .new-main_delivery_area_body_top_left
              発送元の地域
            .new-main_delivery_area_body_top_right
              必須
          .new-main_delivery_area_body_bottom
            .new-main_delivery_area_body_bottom_box
              = f.select :shipping_area, [["北海道", "北海道"], ["青森", "青森"]], include_blank: "選択して下さい"
              -# %select#delivery_area.form-control{"data-reactid" => ".0.4.f.0.1.0", :name => "item[delivery_area]"}
              -#   %option{"data-reactid" => ".0.4.f.0.1.0.0", :value => "0"} 選択してください
              -#   %option{"data-reactid" => ".0.4.f.0.1.0.0", :value => "1"} 北海道
              -#   %option{"data-reactid" => ".0.4.f.0.1.0.0", :value => "2"} 青森
      .new-main_delivery_days
        .new-main_delivery_days_body
          .new-main_delivery_days_body_top
            .new-main_delivery_days_body_top_left
              発送までの日数
            .new-main_delivery_days_body_top_right
              必須
          .new-main_delivery_days_body_bottom
            .new-main_delivery_days_body_bottom_box
              = f.select :days_to_ship, [["支払い後、1～2日で発送", "支払い後、1～2日で発送"], ["支払い後、2～3日で発送", "支払い後、2～3日で発送"], ["支払い後、4～7日で発送", "支払い後、4～7日で発送"]], include_blank: "選択して下さい"
    .new-main_selling-price
      .new-main_selling-price_box
        .new-main_selling-price_box_left
          販売価格
        .new-main_selling-price_box_right
          必須
      .new-main_selling-price_box_en
        ¥
      = f.text_field :price, class: 'new-main_selling-price_box_txit', placeholder: ''
    .new-main_btn
      .new-main_btn_box
        = f.submit "出品する", class: "new-main_btn_box_top"