.new-main
  .new-photoboxes
    .new-photoboxes__first
      写真No.1
    .new-photoboxes__second
      写真No.2
    .new-photoboxes__third
      写真No.3
    .new-photoboxes__fourth
      写真No.4
  .item-name
    .item-name__title
      商品名 ※必須
    .item-name__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-name__form', placeholder: '40文字まで'
  .item-detail
    .item-detail__title
      商品説明 ※必須
    .item-detail__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-detail__form', placeholder: ''
  .item-category
    .item-category__title
      カテゴリ ※必須
    .item-category__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-category__form', placeholder: ''
  .item-brand
    .item-brand__title
      ブランド
    .item-brand__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-brand__form', placeholder: ''
  .item-condition
    .item-condition__title
      商品状態 ※必須
    .item-condition__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-condition__form', placeholder: ''
  .item-delivery-fee
    .item-delivery-fee__title
      配送料の負担 ※必須
    .item-delivery-fee__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-delivery-fee__form', placeholder: ''
  .item-shipping-method
    .item-shipping-method__title
      配送方法 ※必須
    .item-shipping-method__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-shipping-method__form', placeholder: ''
  .item-days
    .item-days__title
      発送日の目安 ※必須
    .item-days__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-days__form', placeholder: ''
  .item-area
    .item-area__title
      発送元の地域 ※必須
    .item-area__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-area__form', placeholder: ''
  .item-price
    .item-price__title
      商品価格 ※必須
    .item-price__form
      = form_for "#" do |f|
        = f.text_field :content, class: 'item-price__form', placeholder: ''
  %button#confirm.btn.btn-large.btn-default{"data-reactid" => ".0.4.k.0.0.0"} 確認する
    