.showmain
  .showmain--product
    .contentleft
    .contentright
      .topcontent
        .itembox
          .itembox__name
            =@item.item_name
          .itembox__body
            %ul.itembox_item
              %li.itembox_item_main
                =link_to image_tag src= Image.find_by(item_id: @item).item_image, class: "itembox_item_img"
            -if @images.count==1
            -else
              %ul.itembox_item_sub
                -@images.each do |image|
                  %li.itembox_item_sub_list
                    =link_to image_tag src= image.item_image, class: "itembox_item_sub_list"
          .itembox__price
            .price= "¥#{@item.price}"
            .itembox__price__detail
              <span>(税込)</span>
          .itembox__detail
            = @item.item_info
          %table.table
            %tbody.table__box
              %tr.tr
                %th.th
                  出品者
                %td.td=@item.user.nickname
              %tr
                %th カテゴリー
                %td=link_to @item.category.category_name, category_path(@item.category_id)
              %tr
                %th ブランド
                %td=@item.brand_id
              %tr
                %th 商品の状態
                %td= @item.condition
              %tr
                %th 配送料の負担
                %td=@item.postage_burden
              %tr
                %th 発送元の地域
                %td=@item.shipping_area
              %tr
                %th 発想日の目安
                %td= @item.days_to_ship
          .commentbox
          - if @item.user_id == current_user.id
            .commentbox
              %button.item_edit_btn
                = link_to "編集画面に進む", edit_item_path(@item), class: "buybtn"
            .commentbox.commentbox-second
              %button.item_delete_btn
                = link_to "出品を取り消す", "", method: :delete , class: "buybtn"
          - else 
            .commentbox
              %button.commentbtn
                = link_to "購入画面に進む", "", class: "buybtn"