%main.show_categories_main
  .show_main
    .content_main
      .content_main
        .title_box
          %h2.title_box-title 
            =Category.find(params[:id]).category_name + "の商品一覧"
          %ul.list_box
            - @categories.each do |category|
              =link_to category_path(category), class: "category_list_link"do
                %li.category_list
                  = category.category_name
        .item_lists
          - @items.each do |item|
            .item_list
              - if item.trading_id == nil
                =link_to item_path(item) ,class: "item_link" do
                  %figure.item_list-figure
                    = image_tag src= Image.find_by(item_id: item).item_image.url ,class:"item_list_image"
                  .item_list--body
                    %h3.item_name 
                      = item.item_name
                    .details
                      %ul.price_favorites
                        %li.item_price
                          = "#{item.price} 円"
                        %li.item_favorites
                          -if user_signed_in? && item.favorites.exists?(user_id: current_user.id)
                            %i.fa.fa-star.fa-star_on
                            =item.favorites.count
                          -else
                            %i.fa.fa-star
                            =item.favorites.count
                      %p.zei
                        (税込)
              -else
                .item_link
                  %figure.item_list-figure
                    = image_tag src= Image.find_by(item_id: item).item_image.url ,class: "item_list_image"
                  .sold_box
                    =image_tag "sold.png", size:"150x50"