!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample71i
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

  -if devise_controller? || controller.controller_name == "tradings"|| controller.controller_name == "item_deliver_addresses"|| ( controller.controller_name == "items" && controller.action_name == "new" )

    = yield
  - else
    = render 'shared/header'
    = yield

  -if devise_controller? || controller.controller_name =="tradings"|| controller.controller_name == "item_deliver_addresses"|| ( controller.controller_name == "items" && controller.action_name == "new" )

  - else
    = render 'shared/appBanner'
    = render 'shared/footer'
